body {
    background-color: #F5F5F5;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

.card {
    margin: 0 auto;
    width: 100%;
}

.card-title {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.card-text {
    color: lightgray;
    font-size: 12px;
    text-align: center;
    padding: 30px;
}

